/* for futur use for multiple pages being formatted the smae way to save time */

/* <!--Link--> */
    .a1 {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-family: Arial, sans-serif;
        z-index: 1;
        white-space: nowrap;
    }
    .a1:hover, .a1:focus {
        background-color: #2980B9;
    }
    .a2:link {
        color: blue;
        background-color: transparent;
        text-decoration: underline;
        z-index: 1;
    }

    .a2:visited {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    } 

    .a2:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    .a2:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

    .a3 {
        background-color: rgba(52 , 152 , 219, 0.7);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-family: Arial, sans-serif;
        z-index: 1;
        white-space: nowrap;
    }
    .a3:hover, .a1:focus {
        background-color: #2980B9;
    }


    /* <!--Drop down button--> */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  z-index: 1;
  white-space: nowrap;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(240, 248, 255);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Arial, sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
}
.buttons-in-row {
  background-color: #3498DB;
  display: flex;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.drop {}

/* Header */
header {
  position: sticky;
  top:0;
  background-color:#0b2041; 
  color:rgb(240, 248, 255); 
  text-align:center; 
  background-image: url('./Images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5px;
  background-size: 300px;
  font-size:200%; 
  width:100%;
  z-index: 999;
  padding: 0%;
}

/* Footer */
footer {
  bottom: 0;
  background-color:#0b2041; 
  color:aliceblue; 
  text-align:center; 
  background-image: url('./Images/NewFooter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  font-size:200%; 
  width:100%;
  z-index: 998;
  padding: 10;
}


.div1 {
    margin: 10px;
    border-left: 6px solid #0b2041;
    padding: 20px;
}

p {
    padding:10px;
}





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 999;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0b2041;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}